= partial 'layouts/header', :locals => {:title => :title} do
  %header#site-header.site-header.header-fullscreen.wrapper-table.overlay-01{"data-vide-bg" => "assets/special/startup/video", "data-vide-options" => "loop: true, \n         muted: true, \n         position: 0% 0%"}
    .valign-center
      .container
        #introText.owl-carousel
          .item
            .intro.text-center
              %p.subtitle We are living
              %h1{:style => "opacity: 0.8;"} in the future
          / item
          .item
            .intro.text-center
              %p.subtitle reaching people
              %h1{:style => "opacity: 0.8;"} Simplified
          / item
          .item
            .intro.text-center
              %p.subtitle the best plan is always
              %h1{:style => "opacity: 0.8;"} a simple plan
          / item
    %a.btn-arrow-down-round.btn-o.onPageNav{:href => "#about"}
      %i.ion-ios-arrow-down
  /
    \==================================
    About Us
    \===================================
  %section#about.section.about-us.bg.white-bg
    .container
      .row
        .col-md-6.col-sm-12
          %img.img-responsive.center-block{:alt => "about-us image", :src => "assets/special/startup/about_us.jpg"}/
        .col-md-6.col-sm-12
          .section-content
            %header.section-heading.mt-0
              %h6 Welcome to our
              %h4 California
            .section-content-desc
              %p
                California Branding is a designing agency based in California, established in 2005 with two amazing graphics designers. Now they have 150+ people working with them with the desire to make a difference. Now after 10 years of successful journey, it has become one of the best designing agency in California.
            %br/
            %a.btn.btn-cal-default.popup-video{:href => "https://www.youtube.com/watch?v=aBYWGjIzvyw", :target => "_blank"}
              watch the film
              %i.ion-play
  /
    \=======================================
    Our Services
    \=========================================
  %section#services.section.white-bg
    %header
      %h6 check our best
      %h4 Services
    .container
      .row
        .col-md-4.col-sm-6
          .service-item
            .icon
              %i.icon-basic_smartphone
            .service-desc
              %h5 Responsive Design
              %p
                Our affordable web design packages offer everything an ambitious website requires. From the design to the marketing - we cover them all.
        .col-md-4.col-sm-6
          .service-item
            .icon
              %i.icon-strategy
            .service-desc
              %h5 Brand Identity
              %p
                Our Online Shop Package is a complete ecommerce system perfect for any business or individual looking to sell their products or services online.
        .col-md-4.col-sm-6
          .service-item
            .icon
              %i.icon-basic_joypad
            .service-desc
              %h5 Game Development
              %p
                Let us create an identity for your business. Large or small, all businesses require a quality logo ensuring you stand out in today's competitive environment.
        .col-md-4.col-sm-6
          .service-item
            .icon
              %i.icon-software_layout_header_sideleft
            .service-desc
              %h5 Creative Theme
              %p
                The mobile users are sky-rocekting. So it is a must have requirement for a website to be mobile friendly. We craft the desig n for handheld device.
        .col-md-4.col-sm-6
          .service-item
            .icon
              %i.icon-ecommerce_graph_increase
            .service-desc
              %h5 Marketing Strategy
              %p
                Without digital footprint, it seems really impossible to grow business. We have partnered with industry leader digital marketer to help your business grow.
        .col-md-4.col-sm-6
          .service-item
            .icon
              %i.icon-lightbulb
            .service-desc
              %h5 Business Solution
              %p
                Create a strong identity and get noticed among millions of others in the market. Our award winning branding program will make sure you stand out.
    / container
  / /#services
  /
    \========================================
    Level
    \==========================================
  %section#level.section.mild-bg.level.progressbars.bg-30
    .section-content
      .container
        .row
          .col-md-6
            .progress-box
              %header.progress-heading
                Web design
              .progress
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "76", :role => "progressbar"}
                  %span 76%
            .progress-box
              %header.progress-heading
                Graphics design
              .progress
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "98", :role => "progressbar"}
                  %span 98%
            .progress-box
              %header.progress-heading
                Web application
              .progress
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "88", :role => "progressbar"}
                  %span 88%
            .progress-box
              %header.progress-heading
                Game development
              .progress
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "59", :role => "progressbar"}
                  %span 59%
          .col-md-6
            #video-small.video-info
              %a#playVideoSmall.video-icon{:href => "#"}
                %i.ion-android-arrow-dropright-circle
              %h6 Watch the reel
            #video-small-container
              #ytPlayerSmall.embed-responsive.embed-responsive-16by9
                %iframe.embed-responsive-item{:frameborder => "0", :src => "https://www.youtube.com/embed/JBpuY-xVESY", :title => "YouTube video player", :type => "text/html"}
              / ytPlayer
  / /.level
  /
    \========================================
    Responsive Design
    \==========================================
  %section#responsiveDesign.section.responsive-design.bg.responsive-design-bg.p-b-0.b-b-0.white-bg
    %header
      %h6 Optimized and Smart
      %h4 responsive design
    .container
      .row
        .col-md-6.col-md-offset-3
          %p.text-center
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
          %p
            \&#160;
            %br/
          / space hack
        .col-md-12
          %img.img-responsive.center-block{:alt => "about-us image", :src => "assets/special/startup/responsive_design.jpg"}/
  / /.responsive-design
  /
    \========================================
    Process
    \==========================================
  %section#process.section.white-bg.b-b-0
    %header
      %h6 Our World Class
      %h4 Process
    .section-content
      .container
        .row
          .col-sm-3
            .card-process
              %header.first
                %span.icon-basic_pencil_ruler_pen
              .card-block
                %h5 Planning
                %p Quisque tellus ris, adipisci viverra bibendum urna.
          .col-sm-3
            .card-process
              %header
                %span.icon-software_paintroller
              .card-block
                %h5 Design
                %p Quisque tellus ris, adipisci viverra bibendum urna.
          .col-sm-3
            .card-process
              %header
                %span.icon-basic_keyboard
              .card-block
                %h5 Coding
                %p Quisque tellus ris, adipisci viverra bibendum urna.
          .col-sm-3
            .card-process
              %header.last
                %span.icon-printer
              .card-block
                %h5 Publish
                %p Quisque tellus ris, adipisci viverra bibendum urna.
  / /#process
  /
    \============================================
    Call to action - 2
    \==============================================
  %section#cta-8.section.cta.cta-8.base-bg
    .container
      .row
        .col-md-12.text-center
          .cta-content
            %h4
              Made with
              %i.ion-heart
              by
              %a.onPageNav{:href => "#team"} Californians
    / container
  /
    \========================================
    Love Us
    \==========================================
  %section#responsiveDesign.section.love-us.white-bg
    %header
      %h6 clients are
      %h4 loving us
    .section-content.bg
      .container
        .row
          .col-md-6.col-sm-12
            %img.img-responsive.center-block{:alt => "love-us image", :src => "assets/others/choose_us_1.png"}/
          .col-md-6.col-sm-12
            .col-md-12.col-sm-6.cause-point
              %h5
                %i.icon-basic_cards_diamonds.hang
                We are Dedicated
              %p For the last 10 years we helped hundreds of business grow online &amp; offline. Brand identity needs creative and innovative works.
            / /cause-point
            .col-md-12.col-sm-6.cause-point
              %h5
                %i.icon-music_microphone.hang
                Professionally Enthusiastic
              %p We have dealt with more than thousand clients. Almost every projects was successful. We take your work very seriously.
            / /cause-point
            .col-md-12.col-sm-12.cause-point
              %h5
                %i.icon-basic_headset.hang
                Always ready for Support
              %p We have dealt with more than thousand clients. Almost every projects was successful. We take your work very seriously.
            / /cause-point
  / /.love-us
  /
    \============================================
    Call to action - 1
    \==============================================
  %section#cta-1.section.cta-big
    .container
      .row
        .col-md-12.text-center
          .cta-content
            %h4 Thinking of your next project?
            .btn-cal-group
              %a.btn.btn-cal-default.onPageNav{:href => "#pricing"} see pricing
              %a.btn.btn-cal-default-o-color{:href => "#"} get a free quote
    / container
  %section#portfolio.section.works.mild-bg
    %header
      %h6 Check Our Best
      %h4 Works
    .container
      .text-center
        %ul.portfolio-filter
          %li.active
            %a.btn.btn-sm{"data-filter" => "*", :href => "#"} All
          %li
            %a.btn.btn-sm{"data-filter" => ".photography", :href => "#"} Photography
          %li
            %a.btn.btn-sm{"data-filter" => ".webDesign", :href => "#"} Web
          %li
            %a.btn.btn-sm{"data-filter" => ".illustrations", :href => "#"} illustration
          %li
            %a.btn.btn-sm{"data-filter" => ".multiMedia", :href => "#"} multiMedia
          %li
            %a.btn.btn-sm{"data-filter" => ".apps", :href => "#"} Apps
      .portfolio.portfolio-masonry.col-2
        .portfolio-item.webDesign.multiMedia
          .thumb
            %img{:alt => "", :src => "assets/portfolio/masonry/col_2/1.jpg"}/
            .portfolio-hover
              .vCenter
                .action-btn
                  %a.popup-link{:href => "assets/portfolio/masonry/col_2/1.jpg", :title => "lightbox view"}
                    %i.icon-basic_magnifier
                .portfolio-description
                  %h5
                    %a.popup-link{:href => "assets/portfolio/masonry/col_2/1.jpg", :title => "lightbox view"} Lightbox View
                  %p
                    %a{:href => "#"} Artworks
                / /.portfolio-description
              / vCenter
            / /.portfolio-hover
          / /.thumb
        / /.portfolio-item
        .portfolio-item.photography.illustrations
          .thumb
            %img{:alt => "", :src => "assets/portfolio/masonry/col_2/4.jpg"}/
            .portfolio-hover
              .vCenter
                .action-btn
                  %a.popup-link{:href => "assets/portfolio/masonry/col_2/4.jpg", :title => "lightbox view"}
                    %i.icon-basic_magnifier
                .portfolio-description
                  %h5
                    %a.popup-link{:href => "assets/portfolio/masonry/col_2/4.jpg", :title => "lightbox view"} Lightbox View
                  %p
                    %a{:href => "#"} Artworks
                / /.portfolio-description
              / vCenter
            / /.portfolio-hover
          / /.thumb
        / /.portfolio-item
        .portfolio-item.photography.apps
          .thumb
            %img{:alt => "", :src => "assets/portfolio/masonry/col_2/2.jpg"}/
            .portfolio-hover
              .vCenter
                .action-btn
                  %a{:href => "portfolio__single_featured_carousel.html"}
                    %i.icon-basic_link
                .portfolio-description
                  %h5
                    %a{:href => "portfolio__single_featured_carousel.html"} External link
                  %p
                    %a{:href => "#"} Webdesign
                    ,
                    %a{:href => "#"} Illustration
                / /.portfolio-description
              / /vcenter
            / /.portfolio-hover
          / /.thumb
        / /.portfolio-item
        .portfolio-item.webDesign.illustrations
          .thumb
            %img{:alt => "", :src => "assets/portfolio/masonry/col_2/5.jpg"}/
            .portfolio-hover
              .vCenter
                .action-btn
                  %a.popup-video{:href => "https://www.youtube.com/watch?v=fTF-RadkIKo"}
                    %i.icon-arrows_keyboard_right
                .portfolio-description
                  %h5
                    %a.popup-video{:href => "https://www.youtube.com/watch?v=fTF-RadkIKo"} Video lightbox
                  %p
                    %a{:href => "#"} Videography
                / /.portfolio-description
              / /vcenter
            / /.portfolio-hover
          / /.thumb
        / /.portfolio-item
        .portfolio-item.photography.illustrations
          .thumb
            %img{:alt => "", :src => "assets/portfolio/masonry/col_2/3.jpg"}/
            .portfolio-hover
              .vCenter
                .action-btn
                  %a.popup-link{:href => "assets/portfolio/masonry/col_2/3.jpg", :title => "lightbox view"}
                    %i.icon-basic_magnifier
                .portfolio-description
                  %h5
                    %a.popup-link{:href => "assets/portfolio/masonry/col_2/3.jpg", :title => "lightbox view"} Lightbox View
                  %p
                    %a{:href => "#"} Artworks
                / /.portfolio-description
              / vCenter
            / /.portfolio-hover
          / /.thumb
        / /.portfolio-item
        .portfolio-item.webDesign.illustrations
          .thumb
            .portfolio-slider
              %ul.slides
                %li
                  %a{:href => "assets/portfolio/masonry/col_2/6_1.jpg"}
                    %img{:alt => "", :src => "assets/portfolio/masonry/col_2/6_1.jpg"}/
                %li
                  %a{:href => "assets/portfolio/masonry/col_2/6_2.jpg", :title => "Awesome Lightbox"}
                    %img{:alt => "", :src => "assets/portfolio/masonry/col_2/6_2.jpg"}/
                %li
                  %a{:href => "assets/portfolio/masonry/col_2/6_3.jpg"}
                    %img{:alt => "", :src => "assets/portfolio/masonry/col_2/6_3.jpg"}/
            .portfolio-hover
              .vCenter
                .action-btn
                  %a{:href => "#"}
                    %i.icon-basic_picture_multiple
                .portfolio-description
                  %h5
                    %a{:href => "#"} Gallary Lightbox
                  %p
                    %a{:href => "#"} Photography
                / /.portfolio-description
              / vCenter
            / /.portfolio-hover
          / /.thumb
        / /.portfolio-item
  / /#portfolio
  .cta6
    %a{:href => "#"}
      .container-fluid
        %h5
          20+ Handcrafted Masonry Grid Layouts.
          %span
            See More
            %i.ion-play
  /
    \========================================
    Pricing 3 column
    \==========================================
  %section#pricing.section.pricing.white-bg
    %header
      %h6 check our
      %h4 price plan
    .container
      .row
        .col-sm-4
          .price-box
            %h5 Basic
            .price-info
              .price
                %span>
                  %i> $
                  25
                \/mo
              %ul
                %li Up to 5 pages
                %li 1 year hosting
                %li 3 months support
                %li.disabled SEO
                %li.disabled Secrity &amp; Backup
                %li.disabled 24/7 Support
            %a.btn.btn-cal-dark{:href => "#"} Get Started
          / /.price-box
        .col-sm-4
          .price-box.featured
            %h5 Standard
            .price-info
              .price
                %span>
                  %i> $
                  75
                \/mo
              %ul
                %li Up to 5 pages
                %li 1 year hosting
                %li 3 months support
                %li SEO
                %li.disabled Secrity &amp; Backup
                %li.disabled 24/7 Support
            %a.btn.btn-cal-default{:href => "#"} Get Started
          / /.price-box
        .col-sm-4
          .price-box
            %h5 Premium
            .price-info
              .price
                %span>
                  %i> $
                  125
                \/mo
              %ul
                %li Up to 5 pages
                %li 1 year hosting
                %li 3 months support
                %li SEO
                %li Secrity &amp; Backup
                %li 24/7 Support
            %a.btn.btn-cal-dark{:href => "#"} Get Started
          / /.price-box
      / /.row
    / /.container
  / /.pricing
  /
    \========================================
    Client Logo
    \==========================================
  %section#clients.section.client.mild-bg.p-a-0
    .container
      .row
        .col-md-4.col-sm-6.p-a-0
          .client-img
            %img.img-responsive.center-block{:alt => "Client 1", :src => "assets/clients_logo/1.png"}/
        .col-md-4.col-sm-6.p-a-0
          .client-img
            %img.img-responsive.center-block{:alt => "Client 2", :src => "assets/clients_logo/2.png"}/
        .col-md-4.col-sm-6.p-a-0
          .client-img
            %img.img-responsive.center-block{:alt => "Client 3", :src => "assets/clients_logo/3.png"}/
        .col-md-4.col-sm-6.p-a-0
          .client-img
            %img.img-responsive.center-block{:alt => "Client 4", :src => "assets/clients_logo/4.png"}/
        .col-md-4.col-sm-6.p-a-0
          .client-img
            %img.img-responsive.center-block{:alt => "Client 5", :src => "assets/clients_logo/5.png"}/
        .col-md-4.col-sm-6.p-a-0
          .client-img
            %img.img-responsive.center-block{:alt => "Client 6", :src => "assets/clients_logo/6.png"}/
  / /.client
  %section#testimonials.section.bg-color-deep.testimonials
    .section-content
      .container
        .row
          .col-md-8.col-md-offset-2
            #owl-testimonial.owl-carousel
              %div
                .row
                  .col-md-4
                    %figure
                      %img.img-responsive{:alt => "", :src => "assets/testimonial/testimonial_1p.jpg"}/
                  .col-md-7
                    %p.testimonial-content Thank you very much for your kindness, understanding and support. Truly appreciate your patience with all the questions that I've asked It is a relief knowing.
                    .client-info
                      %h5 Laisa N
                      %p
                        Founder,
                        %a{:href => "#"} St James WA
              %div
                .row
                  .col-md-4
                    %figure
                      %img.img-responsive{:alt => "", :src => "assets/testimonial/testimonial_2p.jpg"}/
                  .col-md-7
                    %p.testimonial-content Lorem ipsum dolor sit amet, consectuteret adipiscing elit. Vestibulum egetvel lactux pretium runcus is equys nisly Ut vehicula gravida dui in.
                    .client-info
                      %h5 Jasmin Khalifa
                      %p
                        CEO,
                        %a{:href => "#"} Tesla Motors
            / .owl-carousel
        / .row
      / .container
  /
    \==================================
    Subscribe
    \===================================
  %section#subscribe.section.p-y-0.subscribe.white-bg
    .container
      .row
        .col-sm-6
          %figure.subscribe-image
            %img.img-responsive.center-block{:alt => "", :src => "assets/others/subscribe_2.png"}/
        .col-sm-6
          .subscribe-box
            %header
              %h4.m-a-0 Subscribe
              %p Get updates directly to your inbox
            %form#subscription-form.subscribe-form
              .form-group
                %label.sr-only{:for => "subscriber-email"} Email address
                %input#subscriber-email.form-control{:name => "email", :placeholder => "Enter your email address", :required => "", :type => "email"}/
                %p
                  %small * We will never spam you
              / /input-grpup
              %button#subscribe-button.btn.btn-cal-default{:type => "submit"}
                %i.ion-heart
                Get it
            / SUCCESS OR ERROR MESSAGES
            #subscription-response
  / /.subscribe
  /
    \========================================
    Contact
    \==========================================
  %section#contact.section.p-a-0.contact
    #map.bg-map
    .section-content
      .container-fluid
        .row
          .col-sm-6.col-sm-offset-6
            .contact-box
              .row
                .col-md-6
                  %p.info-address
                    %span.icon-basic_geolocalize-05.pull-left.info-icon
                    %strong 221b Baker Street
                    = succeed "London" do
                      %br/
                .col-md-6
                  %p.info-contact
                    %span.icon-ecommerce_megaphone.pull-left.info-icon
                    %a{:href => "tell:01012233456"}
                      %strong +00 123 4567 123
                    = succeed "email@california.com" do
                      %br/
              %form#contactForm.contact-form{:action => "php/contact-form.php", :method => "post", :name => "contactform", :role => "form"}
                .form-group
                  %label.sr-only{:for => "name"} Name
                  %input#name.form-control{:name => "name", :placeholder => "Name", :required => "", :type => "text"}/
                .form-group
                  %label.sr-only{:for => "email"} Email
                  %input#email.form-control{:name => "email", :placeholder => "Email", :required => "", :type => "email"}/
                .form-group
                  %textarea#message.form-control{:name => "massage", :placeholder => "Type your message here", :required => "", :rows => "5"}
                #contactFormResponse
                %button#cfsubmit.btn.btn-cal-default.contact-submit{:type => "submit"} Send
  / Footer widgets
  %section#footer-widgets.section.footer-widgets.dark-bg
    .container
      .row
        .col-md-2.col-sm-4.hidden-xs
          .footer-title
            .text-uppercase
              %h4
                %img.img-responsive.footer-logo{:alt => "California", :src => "assets/logos/1-w.png"}/
        .col-md-4.col-sm-6
          .content-wrap.widget-text
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dolorum eius libero nihil. Fugiat ipsum officia reprehenderit rerum saepe. Assumenda distinctio, voluptatibus. At consectetur cumque enim error laudantium mollitia obcaecati!
          %ul.list-inline.social-icon
            %li
              %a{:href => "#"}
                %span.ion-social-facebook
            %li
              %a{:href => "#"}
                %span.ion-social-twitter
            %li
              %a{:href => "#"}
                %span.ion-social-googleplus
            %li
              %a{:href => "#"}
                %span.ion-social-linkedin
        .col-md-2.col-sm-4
          .content-wrap.widget-contact
            %ul.list-unstyled.list-arrows-right
              %li
                %a{:href => "#faq.html"} FAQ
              %li
                %a{:href => "#about_us.html"} About Us
              %li
                %a{:href => ""} We're Hiring
              %li
                %a{:href => ""} Investors
              %li
                %a{:href => ""} Export
              %li
                %a{:href => ""} Events
              %li
                %a{:href => ""} Legal
              %li
                %a{:href => ""} Technext
        .col-md-4.col-sm-6
          .content-wrap.widget-gallery
            .lightbox-gallery
              %a{:href => "assets/gallery/big/big_1.jpg", :target => "_blank"}
                %img.img-responsive{:alt => "", :src => "assets/gallery/thumbnail/full_8/1.jpg"}/
              %a{:href => "assets/gallery/big/big_3.jpg", :target => "_blank"}
                %img.img-responsive{:alt => "", :src => "assets/gallery/thumbnail/full_8/3.jpg"}/
              %a{:href => "assets/gallery/big/big_8.jpg", :target => "_blank"}
                %img.img-responsive{:alt => "", :src => "assets/gallery/thumbnail/full_8/8.jpg"}/
              %a{:href => "assets/gallery/big/big_9.jpg", :target => "_blank"}
                %img.img-responsive{:alt => "", :src => "assets/gallery/thumbnail/full_8/9.jpg"}/

= partial 'layouts/footer'
