/ /.Footer widgets
%footer#footer.section.footer
  .container
    .row
      .col-md-6.col-sm-6
        %p.copyright &#169; 2015 Your company name
      .col-md-6.col-sm-6
        %p.footer-menu
          %a{:href => ""} Terms &amp; Conditions
          |
          %a{:href => "#"} Privacy Policy
/ /.footer
/ /#zwrapper
/
  Offcanvas Elements
  \=============================================
/
  Javascripts
  \=============================================
%script{:src => "assets/components-modernizr/modernizr.js"}
%script{:src => "assets/jquery/dist/jquery.js"}
%script{:src => "assets/bootstrap/dist/js/bootstrap.js"}
%script{:src => "assets/imagesloaded/imagesloaded.pkgd.min.js"}
%script{:src => "assets/animsition/dist/js/animsition.min.js"}
%script{:src => "assets/magnific-popup/dist/jquery.magnific-popup.js"}
%script{:src => "assets/FlexSlider/jquery.flexslider.js"}
%script{:src => "https://maps.googleapis.com/maps/api/js?sensor=false", :type => "text/javascript"}
%script{:src => "assets/jquery.mb.YTPlayer/dist/jquery.mb.YTPlayer.min.js"}
%script{:src => "assets/waypoints/lib/jquery.waypoints.min.js"}
%script{:src => "assets/waypoints/lib/shortcuts/inview.min.js"}
%script{:src => "assets/isotope/dist/isotope.pkgd.min.js"}
%script{:src => "assets/owlcarousel/owl-carousel/owl.carousel.js"}
%script{:src => "assets/countdown/dest/jquery.countdown.min.js"}
%script{:src => "assets/vide/dist/jquery.vide.js"}
%script{:src => "assets/plugins.js"}
%script{:src => "assets/main.js"}
